.jumbotron {
    background-image: url(../images/laptop.jpg);
    background-color: black;
    background-size: cover;
    color: white;
    height: 100vh;
}

.jumbo-wrapper {
    position: relative;
}


